<!-- <!DOCTYPE html>
<html>
<head>
    <title>Files</title>
</head>
<body>
    <h1>Files</h1>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>

    {% if user['roles']['upload'] %}
    <h2>Upload File</h2>
    <form action="/files" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {% endif %}

    <h2>File List</h2>
    <ul>
        {% for file in files %}
        <li>{{ file['filename'] }} - Uploaded by: {{ file['uploaded_by'] }}</li>
        {% end %}
    </ul>
</body>
</html> -->




<!DOCTYPE html>
<html>
<head>
    <title>Files</title>
</head>
<body>
    <h1>Files</h1>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>

    <h2>Upload File</h2>
    <form action="/files" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h2>File List</h2>
    <ul>
        {% for file in files %}
        <li>{{ file['filename'] }} - Uploaded by: {{ file['uploaded_by'] }}</li>
        {% end %}
    </ul>
</body>
</html>